.NavBar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    height: 5rem;
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    ul {
        width: 50rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
        li {
            z-index: 10;
            button {
                z-index: 10;
                border: none;
                background-color: transparent;
                cursor: pointer;
                color: white;
                font-size: 2rem;
            }
        }
    }
}