.AboutMe {
    height: 100vh;
    width: 100%;
    display: grid;
    place-content: center;
    overflow: hidden;
    position: relative;
    .AboutMe__Container {
        width: min(80vw, 80vh);
        height: 85vh;
        border-radius: 1rem;
        backdrop-filter: blur(11px);
        background-color: #1609515e;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        border: 3px outset #ffffff47;
        span {
            font-size: clamp(1.8rem, 3vw, 4rem);
        }
    }
    >img {
        position: absolute;
        width: 100%;
        bottom: 0;
        right: 0;
        z-index: 0;
    }
}

@media (max-width: 750px) {
    .AboutMe {
        >img {
            width: unset;
            height: 30vh;
        }
    }
}